.login {
  display: grid;
  height: 100vh;
  place-items: center;
}

.login > div > img {
  height: 150px;
  object-fit: contain;
}

.login > div {
  display: flex;
  flex-direction: column;
}

.login > button{
  width: 300px;
  background-color: #2E81F4;
  color: #EFF2F5;
  font-weight: 800;
}

.login > button:hover{
  background-color: #D6DDE2;
  color: #2E81F4;
}

